<div class="w-full p-10">

  <div class="flex flex-wrap gap-10 overflow-x-auto w-full p-10 md:space-x-20">

    <% members.each do |member| %>

      <div class="w-[400px] h-[400px] rounded-full flex-shrink-0">
        <%= image_tag(member.image_url.presence || 'placeholder.jpg', class: "w-[350px] h-[350px] rounded-full bg-cover") %>
        <div class="w-full px-6 text-[#1E1E1E] p-6">
          <div class="font-bold mt-2"><%= member.name %></div>
          
          <div class="text-sm text-gray-600"><%= truncate(member.description, length: 40) %></div>

        </div>
      </div>

    <% end %>
  </div>
</div>